{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">About the store</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque nisi sed consequat lacinia. Aenean pulvinar justo nulla, vel sodales quam ornare ut. Sed sit amet justo tincidunt, dignissim leo eget, varius eros. Quisque eget felis sed massa pulvinar aliquam. Suspendisse potenti. Quisque vel rhoncus nisi, vitae sollicitudin nulla. Vestibulum venenatis imperdiet luctus. Nulla quis nisl ipsum. Nam ornare nisl felis, et iaculis sem tristique non. Fusce fringilla nisl vitae erat ultricies, vitae ornare dolor gravida. Nunc laoreet sapien sit amet sagittis feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla facilisis arcu in sem finibus maximus. Quisque venenatis aliquam mi vel varius. Suspendisse tempor, mauris et congue lobortis, nisi ipsum hendrerit ligula, at lacinia orci dolor faucibus nisi.
<br></br>
Nullam velit tellus, tempus vel elementum ac, efficitur id nisi. Curabitur vehicula sapien a semper pharetra. Mauris rhoncus vestibulum erat, et suscipit ante dictum id. Etiam pretium eros massa, nec ullamcorper tortor ultrices sed. Sed aliquam velit ex, sit amet ornare mauris tincidunt sed. Curabitur eget magna varius, interdum erat sit amet, sollicitudin ligula. Nulla erat neque, viverra vel consectetur non, dignissim vitae tortor.
<br></br>
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce sodales orci dui, id accumsan nisi pellentesque efficitur. Duis nunc felis, porta eu hendrerit in, tincidunt et nibh. Suspendisse id ligula sed odio congue condimentum. Vestibulum ut erat quis mauris ultricies convallis. Aenean quis eros quis odio faucibus vehicula eget vel neque. In vestibulum porta condimentum. Suspendisse sed erat vitae risus aliquet sollicitudin at sed felis. Aliquam dictum suscipit ante nec venenatis. Cras elementum neque in lectus pellentesque, ac porttitor tellus feugiat. Donec eget luctus dui. Cras congue mollis leo eu finibus. Phasellus pretium dolor at leo mattis, at blandit tortor placerat. Maecenas quis lacinia lectus. Quisque ultricies magna libero, non porta nibh interdum commodo. 
<br> </br>          
</div>
        </center>
    </div>
</div>


{% endblock %}